GustaveBikeService/src/main/webapp/wsdl/GustaveBikeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gustaveBikeService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gustaveBikeService" xmlns:intf="http://gustaveBikeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://gustaveBikeService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBikesToBuy">
    <complexType/>
   </element>
   <element name="getBikesToBuyResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBikesToBuyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType/>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBike">
    <complexType>
     <sequence>
      <element name="bikeID" type="xsd:int"/>
      <element name="userID" type="xsd:int"/>
      <element name="currencyType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBikeResponse">
    <complexType>
     <sequence>
      <element name="buyBikeReturn" type="impl:GustaveBike"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GustaveBike">
    <sequence>
     <element name="bikeName" nillable="true" type="xsd:string"/>
     <element name="notes" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="listCurrencies">
    <complexType/>
   </element>
   <element name="listCurrenciesResponse">
    <complexType>
     <sequence>
      <element name="listCurrenciesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFounds">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
      <element name="founds" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFoundsResponse">
    <complexType/>
   </element>
   <element name="getUsersFounds">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersFoundsResponse">
    <complexType>
     <sequence>
      <element name="getUsersFoundsReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCard">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
      <element name="bikeID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCardResponse">
    <complexType>
     <sequence>
      <element name="addToCardReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="payBikesInCard">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
      <element name="currencyType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="payBikesInCardResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="payBikesInCardReturn" type="impl:GustaveBike"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buyBikeRequest">

      <wsdl:part element="impl:buyBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCardResponse">

      <wsdl:part element="impl:addToCardResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payBikesInCardResponse">

      <wsdl:part element="impl:payBikesInCardResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFoundsResponse">

      <wsdl:part element="impl:addFoundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCardRequest">

      <wsdl:part element="impl:addToCard" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikesToBuyRequest">

      <wsdl:part element="impl:getBikesToBuy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCurrenciesResponse">

      <wsdl:part element="impl:listCurrenciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBikeResponse">

      <wsdl:part element="impl:buyBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersFoundsResponse">

      <wsdl:part element="impl:getUsersFoundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFoundsRequest">

      <wsdl:part element="impl:addFounds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCurrenciesRequest">

      <wsdl:part element="impl:listCurrencies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikesToBuyResponse">

      <wsdl:part element="impl:getBikesToBuyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersFoundsRequest">

      <wsdl:part element="impl:getUsersFounds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payBikesInCardRequest">

      <wsdl:part element="impl:payBikesInCard" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GustaveBikeService">

      <wsdl:operation name="getBikesToBuy">

         <wsdl:input message="impl:getBikesToBuyRequest" name="getBikesToBuyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBikesToBuyResponse" name="getBikesToBuyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdl:input message="impl:buyBikeRequest" name="buyBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyBikeResponse" name="buyBikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCurrencies">

         <wsdl:input message="impl:listCurrenciesRequest" name="listCurrenciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listCurrenciesResponse" name="listCurrenciesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFounds">

         <wsdl:input message="impl:addFoundsRequest" name="addFoundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFoundsResponse" name="addFoundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersFounds">

         <wsdl:input message="impl:getUsersFoundsRequest" name="getUsersFoundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersFoundsResponse" name="getUsersFoundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCard">

         <wsdl:input message="impl:addToCardRequest" name="addToCardRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCardResponse" name="addToCardResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payBikesInCard">

         <wsdl:input message="impl:payBikesInCardRequest" name="payBikesInCardRequest">

       </wsdl:input>

         <wsdl:output message="impl:payBikesInCardResponse" name="payBikesInCardResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GustaveBikeServiceSoapBinding" type="impl:GustaveBikeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBikesToBuy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBikesToBuyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBikesToBuyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCurrencies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCurrenciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listCurrenciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFounds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFoundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFoundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersFounds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersFoundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersFoundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCardRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCardResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payBikesInCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payBikesInCardRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payBikesInCardResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GustaveBikeServiceService">

      <wsdl:port binding="impl:GustaveBikeServiceSoapBinding" name="GustaveBikeService">

         <wsdlsoap:address location="http://localhost:8080/GustaveBikeService/services/GustaveBikeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
